{#- ######################################################################
 # Jinja2 template for the globaliolimits.cfg configuration file
 ######################################################################### -#}
{#- Enumerate subsystems -#}
{%- for subsystem in infra_lizardfs_master_globaliolimits -%}

  {#- Render the subsystem line -#}
  {{ "subsystem" ~ " " ~ subsystem ~ "\n\n" }}

  {#- Enumerate cgroup ids -#}
  {%- for cgroup in infra_lizardfs_master_globaliolimits[subsystem] -%}

    {#- Render the cgroup limit -#}
    {%- set limit = infra_lizardfs_master_globaliolimits[subsystem][cgroup]-%}
    {{ "limit" ~ " " ~ cgroup ~ " " ~ (limit | int) ~ "\n" }}

  {%- endfor -%}
  {#- End of cgroup id enumeration -#}

  {{ "\n" }}

{%- endfor -%}
{#- End of subsystem enumeration -#}
