{#- ######################################################################
 # Jinja2 template for the mfsexpports.cfg configuration file
 ######################################################################### -#}
{#- A dict of all valid export options with their default values -#}
{%- set default_options = infra_lizardfs_master_exports_defaults -%}

{#- Enumerate exports -#}
{%- for export in infra_lizardfs_master_exports -%}

  {#- We only process valid export entries -#}
  {%- if 'ip' in export and 'path' in export -%}

    {#- A dict of all export options values for the current export entry.
     #  This dict will also include default values from the default_options
     #  dictionary. -#}
    {%- set option_values = {} -%}

    {#- A list of option strings in the form <option>=<value>.
     #  Will be rendered later. -#}
    {%- set option_strings = [] -%}

    {#- Parse all valid options to build the option_values dictionary.
     #  If custom options are specified in the export.options dict, they
     #  will be cast to the correct type, and added to the dict.
     #  Else, the default value will be added instead. -#}
    {%- for option in default_options -%}

      {#- If a specific option value is supplied, we'll use it -#}
      {%- if 'options' in export and option in export.options -%}
          {%- set value = export['options'][option] -%}
      {#- Else, fallback to default -#}
      {%- else -%}
        {%- set value = default_options[option]['default'] -%}
      {%- endif -%}

      {#- Cast option value to the correct type -#}
      {%- if default_options[option]['type'] == 'string' -%}
        {{ option_values.update({option: value | string }) }}
      {%- elif default_options[option]['type'] == 'bool' -%}
        {{ option_values.update({option: true if value else false }) }}
      {%- elif default_options[option]['type'] == 'int' -%}
        {{ option_values.update({option: value | int }) }}
      {%- endif -%}
    {%- endfor -%}

    {#- Build the string of options.
     #  This is easy to do now that options are normalized. -#}
    {%- for option in option_values -%}
      {#- We only render non-default options -#}
      {%- if option_values[option] != default_options[option]['default'] -%}

        {#- Render flag options -#}
        {%- if 'flags' in default_options[option] -%}
          {%- if option_values[option] == true
              and 'true' in default_options[option]['flags'] -%}
            {{ option_strings.append(default_options[option]['flags']['true']) }}
          {%- elif option_values[option] == false
              and 'false' in default_options[option]['flags'] -%}
            {{ option_strings.append(default_options[option]['flags']['false']) }}
          {%- endif -%}

        {#- Boolean options must be rendered as integers -#}
        {%- elif default_options[option]['type'] == 'bool' -%}
          {{ option_strings.append(option ~ "=" ~ ("1" if option_values[option] else "0")) }}

        {#- Other options are rendered as-is -#}
        {%- else -%}
          {{ option_strings.append(option ~ "=" ~ option_values[option]) }}
        {%- endif -%}
        
      {%- endif -%}
    {%- endfor -%}

    {#- Render the export line -#}
    {#- IP address/range of the client -#}
    {{ export.ip }}{{ "\t" }}
    {#- Exported path -#}
    {{ export.path }}
    {#- Export options -#}
    {{ ("\t" ~ option_strings | join(",")) if option_strings else "" }}
    {#- Trailing new line -#}
    {{ "\n"}}

  {%- endif -%}
  {#- End of valid export entry condition -#}

{%- endfor -%}
{#- End of the loop over export entries -#}
