{#- ######################################################################
 # Jinja2 template for the mfsgoals.cfg configuration file
 ######################################################################### -#}
{#- Enumerate defined goals -#}
{%- for goal_id in infra_lizardfs_master_goals -%}

  {#- Shorthand for current goal definition -#}
  {%- set goal_definition = infra_lizardfs_master_goals[goal_id] -%}

  {#- Goal is set valid by default -#}
  {%- set goal_is_valid = true -%}

  {#- Set specified or default goal name -#}
  {%- if 'name' in goal_definition -%}
    {%- set goal_name = goal_definition.name | replace(" ", "_") -%}
  {%- else -%}
    {%- set goal_name = goal_id -%}
  {%- endif -%}

  {#- Set specified or default goal type -#}
  {%- if 'type' in goal_definition -%}
    {%- set goal_type = goal_definition.type -%}
  {%- else -%}
    {%- set goal_type = 'std' -%}
  {%- endif -%}

  {#- Set specified or default goal labels. -#}
  {%- if 'labels' in goal_definition -%}
    {%- set goal_labels = goal_definition.labels -%}
  {%- else -%}
    {%- set goal_labels = [] -%}
    {#- Standard goals need explicit defaults. -#}
    {%- if goal_type == 'std' -%}
      {%- for n in range(goal_id)-%}
        {{ goal_labels.append('_') }}
      {%- endfor -%}
    {%- endif -%}
  {%- endif -%}

  {#- Process data parts (xor/ec only). This info is required, otherwise
   #  the goal will be marked as invalid. -#}
  {%- if goal_type in ['xor', 'ec'] and goal_is_valid -%}
    {%- if  'parts' in goal_definition
        and 'data'  in goal_definition.parts -%}
      {%- set goal_parts_data = goal_definition.parts.data -%}
    {%- else -%}
      {%- set goal_is_valid = false -%}
    {%- endif -%}
  {%- endif -%}

  {#- Process parity parts (ec only). This info is required with ec,
   #  otherwise the goal will be marked as invalid. -#}
  {%- if goal_type == 'ec' and goal_is_valid -%}
    {%- if  'parts'  in goal_definition
        and 'parity' in goal_definition.parts -%}
      {%- set goal_parts_parity = goal_definition.parts.parity -%}
    {%- else -%}
      {%- set goal_is_valid = false -%}
    {%- endif -%}
  {%- endif -%}

  {#- Render goal definition string: standard goal -#}
  {%- if goal_type == 'std' and goal_is_valid -%}
    {%- set goal_string = goal_labels | join(" ") -%}

  {#- Render goal definition string: xor goal -#}
  {%- elif goal_type == 'xor' and goal_is_valid -%}
    {%- set goal_string = "$xor" ~ goal_parts_data -%}
    {%- if goal_labels -%}
      {%- set goal_string = goal_string ~ " { " ~ (goal_labels | join(" ")) ~ " }" -%}
    {%- endif -%}

  {#- Render goal definition string: ec goal -#}
  {%- elif goal_type == 'ec' and goal_is_valid -%}
    {%- set goal_string = "$ec(" ~ goal_parts_data ~ "," ~ goal_parts_parity ~ ")" -%}
    {%- if goal_labels -%}
      {%- set goal_string = goal_string ~ " { " ~ (goal_labels | join(" ")) ~ " }" -%}
    {%- endif -%}

  {#- Render goal definition string: INVALID goal -#}
  {%- else -%}
    {%- set goal_is_valid = false -%}
  {%- endif -%}

  {#- Render the goal line. We only process valid goals. -#}
  {%- if goal_is_valid -%}
    {{ goal_id ~ " " ~ goal_name ~ " : " ~ goal_string ~ "\n" }}
  {%- endif -%}

{%- endfor -%}
{#- End of goal enumeration -#}
