{#- ######################################################################
 # Jinja2 template for the mfsmount.cfg configuration file
 ######################################################################### -#}
{#- A dict of all valid config options with their default values -#}
{%- set default_options = infra_lizardfs_client_config_defaults -%}

{#- A dict of user-supplied options for the target mountpoint -#}
{%- set user_options = mountfile['options'] -%}

{#- Enumerate all known config options -#}
{%- for option in default_options -%}

  {#- If a specific value was supplied for the current option, use it -#}
  {%- if option in user_options -%}

    {#- Store the current option value -#}
    {%- set value = user_options[option] -%}

    {#- Cast current option value to the correct type -#}
    {%- if default_options[option]['type'] == 'string' -%}
      {%- set value = value | string -%}
    {%- elif default_options[option]['type'] == 'bool' -%}
      {%- set value = true if value else false -%}
    {%- elif default_options[option]['type'] == 'int' -%}
      {%- set value = value | int -%}
    {%- elif default_options[option]['type'] == 'float' -%}
      {%- set value = '%0.2f' | format(value | float) -%}
    {%- endif -%}

  {#- Else, fall back to default -#}
  {%- else -%}
    {%- set value = default_options[option]['default'] -%}
  {%- endif -%}

  {#- Render config option line, if needed -#}
  {#- We only render non-default options -#}
  {%- if value != default_options[option]['default'] -%}

    {#- Show option description -#}
    {{ "# " ~ default_options[option]['description'] ~ "\n" }}

    {#- Render flag options -#}
    {%- if 'flags' in default_options[option] -%}
      {%- if value == true
          and 'true' in default_options[option]['flags'] -%}
        {{ default_options[option]['flags']['true'] }}
      {%- elif value == false
          and 'false' in default_options[option]['flags'] -%}
        {{ default_options[option]['flags']['false'] }}
      {%- endif -%}

    {#- Boolean options must be rendered as integers -#}
    {%- elif default_options[option]['type'] == 'bool' -%}
      {{ option ~ "=" ~ ("1" if value else "0") }}

    {#- Other options are rendered as-is -#}
    {%- else -%}
      {{ option ~ "=" ~ value}}
    {%- endif -%}

    {{ "\n\n" }}

  {%- endif -%}

{%- endfor -%}
{#- End of enumeration of all known config options -#}

{#- Mount point is mandatory and must fill the last line of the file. -#}
{{ mountfile['path'] ~ "\n" }}
